body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    position: fixed;
    top: 0;
    background-color: #009EDB;
    color: #fff;
    padding: 35px;
    text-align: center;
    width: 100%;
}

footer {
    background-color: #009EDB;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer p {
    margin: 0;
    font-size: 14px;
}

footer ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

footer ul li {
    margin: 0;
    flex: 1;
    text-align: center;
}

footer a {
    color: #fff;
    text-decoration: none;
}

h1 {
    margin: 0;
}

button {
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    position: fixed;
    top: 0px;
    right: 10px;
}

img {
    width: 100px;
    height: 100px;
}

.container {
    max-width: 90%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    margin-top: 80px;
}

.images-container {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
}

.ods-icon {
    vertical-align: middle;
}

#ods h2 {
    text-align: center;
}

li .ods-icon {
    vertical-align: middle;
    margin-right: 10px;
    /* Espaço à direita da imagem */
    margin-left: 10px;
    /* Espaço à esquerda da imagem */
}

#about,
#ods {
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding-left: 0px;
}